apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - path: ingress-traefik-patch.yaml
    target:
      kind: Ingress
      name: backend-api-ingress

