role: Agent

# 禁用 Service (保持不变)
service:
  enabled: false

customConfig:
  data_dir: /vector-data-dir
  api:
    enabled: true
    address: 0.0.0.0:8686

  sources:
    kubernetes_logs:
      type: kubernetes_logs

  transforms:
    # [核心修改] 白名单过滤逻辑
    parse_and_whitelist:
      type: remap
      inputs: ["kubernetes_logs"]
      source: |
        # --- 1. 精准获取命名空间 ---
        # 结合之前的调试，我们知道字段可能是扁平的，这里做双重保险
        .current_ns = .kubernetes_pod_namespace || .kubernetes.pod_namespace || "unknown"

        # --- 2. 【白名单配置】(Whitelist) ---
        # 逻辑：如果不(!) 包含在允许列表中，就丢弃(abort)
        # 请在下面列表中填入你真正想采集的业务命名空间，比如 "default", "prod-payment" 等
        if !includes(["backend", "treafik", "web"], .current_ns) {
            abort
        }

        # --- 3. JSON 解析 ---
        # 只有通过了上面的检查，才会走到这一步解析 JSON
        . = parse_json(.message) ?? .

  sinks:
    openobserve:
      type: http
      # 注意：inputs 名字要和上面 transforms 的名字一致
      inputs: ["parse_and_whitelist"]
      
      # [再次提醒] 这里的 URI 必须是你网页上看到的真实 Org ID
      # 之前的教训：iceymoss 可能是错的，网页上可能是 ice_moss_163_com
      # 格式: .../api/<真实ORG_ID>/<流名称>/_json
      uri: "http://openobserve.openobserve.svc.cluster.local:5080/api/default/iceymoss/_json"
      
      encoding:
        codec: json
      auth:
        strategy: basic
        user: "ice_moss@163.com"
        password: "" # [部署前请填入密码]
      batch:
        max_events: 1000
        timeout_secs: 1