role: Agent

# [核心修复] 既然是抓取日志的 Agent，不需要对外提供服务，直接禁用 Service
service:
  enabled: false

customConfig:
  data_dir: /srv/logs/vector-data-dir
  api:
    enabled: true
    address: 0.0.0.0:8686

  sources:
    kubernetes_logs:
      type: kubernetes_logs

  transforms:
    # 解析 JSON 日志 (这对你的 Go App 至关重要)
    parse_json:
      type: remap
      inputs: ["kubernetes_logs"]
      source: |
        . = parse_json(.message) ?? .

  sinks:
    openobserve:
      type: http
      inputs: ["parse_json"]
      # [注意] 请确认下面这个地址
      # 如果 OpenObserve 和 Vector 在同一个集群的同一个 namespace，用这个没问题
      # 如果不在同一个 namespace，要改写成 openobserve.openobserve.svc.cluster.local:5080
      uri: "http://openobserve.openobserve.svc.cluster.local:5080/api/default/_json"
      encoding:
        codec: json
      auth:
        strategy: basic
        user: "ice_moss@163.com"  # 你的用户名
        password: ""    # 你的密码
      batch:
        max_events: 1000
        timeout_secs: 1