apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-resources.yaml
    target:
      kind: Deployment
      name: admin-api
  - path: ingress-traefik-patch.yaml
    target:
      kind: Ingress
      name: admin-api-ingress

# ！！！ 核心调整：镜像替换策略
images:
  - name: ic2-admin-api-image # 对应 Base 中的占位符
    newName: traefik/whoami   # 替换为真实的轻量级镜像
    newTag: latest            # 替换 Tag
